안녕하세요. 수강생 여러분~! Chapter21 ~ 32 수업은 잘 들으셨나요?

Chapter21 ~ 32의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

[문제 1]
사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

In [5]:
def greet_user():

    #이름 입력받기
    name = input()
    #나이 입력받기
    age = input()

    #문장 출력하기
    print(f"안녕하세요, {name}님! 당신은 {age}살입니다.")

#함수 실행하기
greet_user()

손유진
34
안녕하세요, 손유진님! 당신은 34살입니다.

---

[문제 2] 여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.

In [7]:
def sum_numbers(*args):
    #args 안에 넣는 숫자들 더해서 결과 만들기
    result = sum(args)
    #합계 반환하기
    return result

#함수 사용해보기
print(sum_numbers(1, 2, 3, 4, 5))

15

---

[문제 3] 사용자의 이름을 출력하는 함수 print_name을 작성하세요. 만약 이름이 주어지지 않았다면, 기본값으로 "익명"을 사용하세요.

In [8]:
def print_name(name="익명"):
    #이름 출력하기
    print(name)

#함수 실행하기
print_name()

익명

---

[문제 4] 사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [11]:
def print_info(*, name, age, gender):
    #이름, 나이, 성별 출력하기
    print(f"이름: {name}")
    print(f"나이: {age}")
    print(f"성별: {gender}")

#함수 실행하기
print_info(name="손유진", age=34, gender="여자")

이름: 손유진
나이: 34
성별: 여자

---

[문제 5] 두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [13]:
#두개의 정수 받기(매개변수와 반환값에 타입 이노테이션 추가하기)
def add(a: int, b: int) -> int:
    return a + b

#함수 사용해보기
print(add(5, 10))

15

---

[문제 6] 0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [26]:
def odd_numbers(n):
    #0부터 n까지의 숫자들 준비하기
    for i in range(n + 1):
        #그 숫자들이 홀수인지 확인하기
        if i % 2 == 1:
            #홀수가 맞으면 생성하기
            yield i

#for문 사용해서 1부터 10까지 홀수만 생성하기
for i in odd_numbers(10):
    print(i)

1
3
5
7
9

---

[문제 7] 두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

In [38]:
#람다 함수 만들고 변수에 할당하기
add = lambda a, b: a + b

print(add(2, 6))

8

---

[문제 8] 사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

In [28]:
def min_max():
    #사용자로부터 3개의 숫자 입력받아서 리스트로 만들기(공백)
    numbers = list(map(int, input().split()))
    #리스트를 튜플로 변환하기
    numbers_tuple = tuple(numbers)
    #최소값과 최대값 찾아서 출력하기
    print(min(numbers_tuple))
    print(max(numbers_tuple))

#함수 실행하기
min_max()

5 8 23
5
23

---

[문제 9] 주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [30]:
def is_even(n):
    #주어진 숫자가 짝수인지 확인하기
    if n % 2 == 0:
        #짝수이면 True 반환하기
        return True
    #위 조건이 맞지 않다면 False 반환하기
    return False

#함수 실행하기
print(is_even(33))
print(is_even(22))

False
True

---

[문제 10] 팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

In [39]:
def factorial(n):
    #n이 1이거나 0이되면 1을 돌려주고 멈추게하기
    if n <= 1:
        return 1

    #n과 그보다 하나 작은 숫자(n-1)의 팩토리얼을 곱하기
    return n * factorial(n-1)

#함수 싱행하기
print(factorial(20))

2432902008176640000

---

[문제 11] 문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

In [33]:
def print_length(words):
    #리스트 안에 있는 단어들 꺼내기
    for word in words:
        #len함수 이용해서 길이 출력하기
        print(len(word))

#함수 실행하기
list = ["pizza", "burger", "burrito"]
print_length(list)

5
6
7

---

[문제 12] 두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

In [36]:
def longer_string(str1, str2):
    #첫 번째 문자열 길이가 두번째보다 길거나 같다는 가정하기
    if len(str1) >= len(str2):
        return str1
    #그렇지 않다면
    else:
        return str2

#함수 실행하기
print(longer_string("hungry", "tired"))

hungry